# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data & Lakehouse storage
data/delta/
data/quarantine_dlq/
metastore_db/
derby.log
spark-warehouse/
checkpoint/
.chroma/

# Airflow
airflow/*.db
airflow/logs/
airflow/*.pid

# Environment & IDE
.env
.idea/
.vscode/
*.log
