# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# IDE / Editor settings
.vscode/
.idea/

# Testing & Data caches
.pytest_cache/
.coverage
htmlcov/
*.log
.spark-warehouse/
metastore_db/
checkpoint/
delta/
